<div class="container" style="display: flex; justify-content: center; align-items: center;margin-bottom: 100px">
        <div class="row">
            <div class="col">
                <div class="row bg-primary text-white mb-3">
                    <div class="col"><h1>Posts</h1></div>
                </div>

                <div class="row" >
                    <div class="col" >
                        <div class="card" style="width:400px; border-color: #adb5bd; border-radius: 2px; border-width: 1px; background-color: #edf4f4;font-size:24px">
                            <div class="card-body"><% @posts.each do |post| %>
                                <% if post.is_published == true %>
                                 
                                   <li> <%= link_to post.title, post %> </li>
                                                      
                                <% end %>
                                <% end %>
                            </div> 
                          </div>
                    </div>
                </div>

            </div>
        </div>
    </div>