<div class="container" style = 'margin-bottom: 100px' >
    <div class="row">
        <div class="col-6 ">
            <div class="row">
                <div class="col bg-primary text-white mb-3 me-1"><h2>Published Posts</h2></div>
            </div>

            <div class="row">
                
                <div class="col">
                    <div class="card" style="width:100%; border-color: #adb5bd; border-radius: 2px; border-width: 1px; background-color: #edf4f4;font-size:24px">
                        
                            <div class="card-body"><% @posts.each do |post| %>
                                <% if post.is_published == true %>
                                  
                                    <li><%= link_to post.title, post %></li>
                                    <% post.images do |image|%>  
                                    <%= image_tag(image)%>    
                                    <% end %> 
                                <% end %>
                                <% end %>
                              </div> 
                            </div>
                        </div>
                      
                </div>

            </div>
        

        
        
        
        <div class="col-6 ">
            <div class="row">
                <div class="col bg-primary text-white mb-3 ms-1"><h2>Unpublished Posts</h2></div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card" style="width:100%; border-color: #adb5bd; border-radius: 2px; border-width: 1px; background-color: #edf4f4;font-size:24px">
                        <div class="card-body">
                        <% @posts.each do |post| %>
                            <% if post.is_published == false %>
                              
                                <li><%= link_to post.title, post %></li>
                                <% post.images do |image|%>  
                                    <%= image_tag(image)%>    
                                    <% end %> 
                            <% end %>
                            <% end %>
                          
                          
                          </div> 
                      </div>
                </div>

                
            </div>
        </div>


    </div>
   </div>