<div class="container-fluid bg-primary text-light fixed-bottom p-2 mt-5">
      <div class="row">
        <div class="col-md d-flex justify-content-center align-items-center">
          <i class="fa-regular fa-1.5x fa-copyright mb-1 me-1" style="color: white"></i>
          <h4><i>Role Management</i></h4>
        </div>
      </div>
    </div>