<div class="container-fluid bg-primary text-light fixed-bottom p-2 mt-5">
      <div class="row">
        <div class="col-md d-flex justify-content-center align-items-center">
          <i class="fa-regular fa-2x fa-copyright mb-1 me-1" style="color: white"></i>
          <h2><i>Vlog</i></h2>
        </div>
      </div>
    </div>