body{
    background-color: rgb(47, 107, 86);
    color: rgb(181, 190, 179);
}
a{
    color:black
}
/* ul{
    list-style:circle ;
} */
h1{
    color: orangered;
}
h2{
    color: goldenrod;
}
li.a a.a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blanchedalmond;
}
/* * {
    text-align: center;
    
  } */
