<p>Hello <%= @resource.email %>!</p>

<p>We have received a password change request for your account.</p>

<p><button class = 'btn btn-primary'><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></button></p>

<p>If you didn't ask to change this, you can ignore the mail.</p>
<p>Your credentials won't be changed until you click on the above link.</p>

<p> <i> Thanks and Regards </i> <p>
